# =========================
# k3d / cluster
# =========================
K3D_CLUSTER_NAME=lms

# =========================
# PostgreSQL (bitnami/postgresql)
# =========================
# Пароль суперпользователя postgres
PG_POSTGRES_PASSWORD=pg12345

# Имя базы данных проекта
PG_DATABASE=lms_db

# Пользователь приложения (создаётся скриптом 30-postinstall.sh)
PG_APP_USER=lms_user
PG_APP_PASSWORD=lms12345

# =========================
# MinIO (S3)
# =========================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio12345

# Размер диска MinIO (для стенда)
MINIO_PERSISTENCE_SIZE=10Gi

# Бакеты (через запятую)
MINIO_BUCKETS=lms-videos,lms-certificates

# В какой бакет грузим тестовый файл
MINIO_TEST_BUCKET=lms-videos
